@tailwind base;
@tailwind components;
@tailwind utilities;


/* Layout */
@layer components {

	html,
	body {
		scroll-behavior: smooth;
	}
    body {
        @apply bg-black;
    }
	@font-face {
		font-family: "geist-semibold";
		src: url("../../assets/Geist/GeistMono/GeistMono-SemiBold.otf") format("opentype");
		font-style: normal;
	}
	@font-face {
		font-family: "geist-regular";
		src: url("../../assets/Geist/GeistMono/GeistMono-Regular.otf") format("opentype");
		font-style: normal;
	}

	@font-face {
		font-family: "geist-light";
		src: url("../../assets/Geist/GeistMono/GeistMono-Light.otf") format("opentype");
		font-style: normal;
	}

	.typed-bg input{
		background: transparent !important;
	}
	.bg-img-eclipse {
		background-image: url("../images/ellipse-4.svg");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}
	.bg-neon {
		background-image: url("../images/shit.gif");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}
	@keyframes blink {
		0%, 100% {
		  stroke: #FBFF22; /* Original color */
		}
		50% {
		  stroke: transparent; /* Blink to transparent or another color */
		}
	  }
	  
	.blinking {
	animation: blink 1s infinite;
	}

	.bg-tools {
		background-image: url("../images/my-tools.png");
		background-repeat: no-repeat;
		background-size: contain;
	}
	  
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* Adjust the number of columns as needed */
    grid-template-rows: repeat(6, 1fr); /* Adjust the number of rows as needed */
    grid-gap: 10px; /* Adjust the gap size as needed */
    height: 100vh; /* Set the container height */
    border: 1px solid black; /* Border for the container */
  }
  .grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8); /* Border for grid items */
  }